@model SiGames.Models.fornecedor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>fornecedor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdPessoa, "pessoa")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPessoa", String.Empty)
            @Html.ValidationMessageFor(model => model.IdPessoa)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
