@model IEnumerable<SiGames.Models.fornecedor>

@{
    ViewBag.Title = "Cadastro de Fornecedores";
}

<h2>Fornecedores</h2>

<p>
    @Html.ActionLink("Criar novo", "../pessoa/create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pessoa.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pessoa.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "../pessoa/edit", new { id=item.IdPessoa }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdPessoa }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdPessoa })
        </td>
    </tr>
}

</table>
