@model SiGames.Models.endereco

@{
    ViewBag.Title = "Create";
}

<h2>Passo 4</h2><br>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>endereco</legend>

        <div class="editor-label">
          <h3>  @Html.LabelFor(model => model.Bairro)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bairro)
            @Html.ValidationMessageFor(model => model.Bairro)
        </div>

        <div class="editor-label">
          <h3>  @Html.LabelFor(model => model.Cidade)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cidade)
            @Html.ValidationMessageFor(model => model.Cidade)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.Logradouro)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Logradouro)
            @Html.ValidationMessageFor(model => model.Logradouro)
        </div>

        <div class="editor-label">
            <h3>@Html.LabelFor(model => model.Numero)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.IdPessoa, "Pessoa Cadastrada")</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPessoa", String.Empty)
            @Html.ValidationMessageFor(model => model.IdPessoa)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.IdTipoLogradouro, "Tipo de Logradouro")</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoLogradouro", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoLogradouro)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.UF, "UF")</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownList("UF", String.Empty)
            @Html.ValidationMessageFor(model => model.UF)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
