@model IEnumerable<SiGames.Models.endereco>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdEndereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pessoa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_logradouro.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uf1.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdEndereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logradouro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pessoa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_logradouro.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uf1.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEndereco }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEndereco }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEndereco })
        </td>
    </tr>
}

</table>
