@model SiGames.Models.cliente

@{
    ViewBag.Title = "Create";
}

<h2>Cliente</h2><br>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>cliente</legend>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.IdPessoa, "Pessoa Cadastrada")</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPessoa", String.Empty)
            @Html.ValidationMessageFor(model => model.IdPessoa)
        </div>

        <p>
            <input type="submit" value="Finalizar Cadastro" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar a Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
