@model IEnumerable<SiGames.Models.cliente>

@{
    ViewBag.Title = "Cadastro de Clientes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pessoa.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pessoa.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "../pessoa/edit", new { id=item.pessoa.IdPessoa }) |
            @Html.ActionLink("Details", "../pessoa/details", new { id=item.pessoa.IdPessoa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPessoa })
        </td>
    </tr>
}

</table>
