@model SiGames.Models.documento

@{
    ViewBag.Title = "Create";
}

<h2>Passo 2</h2><br>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>documento</legend>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.Documento1,"Documento")</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Documento1)
            @Html.ValidationMessageFor(model => model.Documento1)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.IdPessoa,"Pessoa Cadastrada")</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPessoa", String.Empty)
            @Html.ValidationMessageFor(model => model.IdPessoa)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.IdTipoDocumento,"Tipo do Documento")</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoDocumento", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoDocumento)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
