<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SiGames</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("SiGames", "Index", "Home")</p>
                </div>
                <div class="float-left">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <div id="cssmenu">
                        <ul id="menu">
                            <li>@Html.ActionLink("Início", "Index", "Home")</li>
                            <li>@Html.ActionLink("Cadastro de Pessoa", "Index", "pessoa")</li>
                            <li>@Html.ActionLink("Cadastro de Produtos", "Index", "produto")</li>
                            <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                            <li class="last">@Html.ActionLink("Contato", "Contact", "Home")</li>
                        </ul>
                            </div>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <h3>&copy; @DateTime.Now.Year - SiGames</h3>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
