@model SiGames.Models.pessoa

@{
    ViewBag.Title = "Delete";
}


<h3>Tem certeza que deseja deletar esta pessoa?</h3>
<br>

<fieldset>
    <legend>Pessoa</legend>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.DataCadastro):</h3>
    </div><br>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCadastro)
    </div><br>

    <div class="display-label">
         <h3>@Html.DisplayNameFor(model => model.Nome):</h3>
    </div><br>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Deletar" /> 
        
    </p>
    @Html.ActionLink("Voltar a lista", "Index")
}
