@model SiGames.Models.pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>pessoa</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdPessoa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdPessoa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataCadastro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCadastro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdPessoa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
