@model SiGames.Models.pessoa

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2><br>

<fieldset>
    <legend>Pessoa</legend>

    <div class="display-label">

         <h3>@Html.DisplayNameFor(model => model.DataCadastro)</h3>

    </div>

    <div class="display-field">

        @Html.DisplayFor(model => model.DataCadastro)

    </div>

    <div class="display-label">

         <h3>@Html.DisplayNameFor(model => model.Nome)</h3>

    </div>
    
    <div class="display-field">

        @Html.DisplayFor(model => model.Nome)

    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.IdPessoa }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
