@model SiGames.Models.pessoa

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2><br>

<h2>Passo 1</h2><br>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pessoa</legend>

        <div class="editor-label" style="display:none">
           <h3> @Html.LabelFor(model => model.IdPessoa)</h3>
        </div>
        <div class="editor-field" style="display:none">
            @Html.EditorFor(model => model.IdPessoa)
            @Html.ValidationMessageFor(model => model.IdPessoa)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.DataCadastro)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataCadastro)
            @Html.ValidationMessageFor(model => model.DataCadastro)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.Nome)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
