@model IEnumerable<SiGames.Models.pessoa>

@{
    ViewBag.Title = "Cadastro de  pessoas";
}

<h2>Cadastro de Pessoas</h2>

<p>
    @Html.ActionLink("Criar novo cadastro", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdPessoa }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdPessoa }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdPessoa })
        </td>
    </tr>
}

</table>
