@model SiGames.Models.produto

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2><br>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Produto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdProduto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdProduto)
            @Html.ValidationMessageFor(model => model.IdProduto)
        </div>

        <div class="editor-label">
            <h3>@Html.LabelFor(model => model.Nome)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.PrecoUnitario)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrecoUnitario)
            @Html.ValidationMessageFor(model => model.PrecoUnitario)
        </div>

        <div class="editor-label">
         <h3>   @Html.LabelFor(model => model.TipoProduto)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoProduto)
            @Html.ValidationMessageFor(model => model.TipoProduto)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
