@model IEnumerable<SiGames.Models.produto>

@{
    ViewBag.Title = "Cadastro de Produtos";
}

<h2>Cadastro de Produtos</h2>

<p>
    @Html.ActionLink("Criar novo", "create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TipoProduto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProduto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.IdProduto }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdProduto }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdProduto })
        </td>
    </tr>
}

</table>
