@model SiGames.Models.telefone

@{
    ViewBag.Title = "Create";
}

<h2>Passo 3</h2><br>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>telefone</legend>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.Numero)</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.IdPessoa, "Pessoa Cadastrada")</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdPessoa", String.Empty)
            @Html.ValidationMessageFor(model => model.IdPessoa)
        </div>

        <div class="editor-label">
           <h3> @Html.LabelFor(model => model.IdTipoTelefone, "Tipo do Telefone")</h3>
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipoTelefone", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipoTelefone)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
