@model IEnumerable<SiGames.Models.telefone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTelefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pessoa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_telefone.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdTelefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pessoa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_telefone.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTelefone }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTelefone }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTelefone })
        </td>
    </tr>
}

</table>
